<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lss.core.dao.AdminMapper">
	<resultMap id="BaseResultMap" type="com.lss.core.pojo.Admin">
		<id column="adminid" property="adminid" jdbcType="INTEGER" />
		<result column="clinicid" property="clinicid" jdbcType="INTEGER" />
		<result column="doctorid" property="doctorid" jdbcType="INTEGER" />
		<result column="loginame" property="loginame" jdbcType="VARCHAR" />
		<result column="loginpwd" property="loginpwd" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="logintime" property="logintime" jdbcType="TIMESTAMP" />
		<result column="caller_nos" jdbcType="VARCHAR" property="callerNos" />
    	<result column="transfer_no" jdbcType="VARCHAR" property="transferNo" />
    	<result column="org_id" jdbcType="INTEGER" property="orgId" />
	    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
	    <result column="no_wx" jdbcType="VARCHAR" property="noWx" />
	    <result column="ec_userid" jdbcType="VARCHAR" property="ecUserId" />
	    <result column="micro_userid" jdbcType="VARCHAR" property="microUserId" />
	</resultMap>
	<sql id="Base_Column_List">
		adminid, clinicid, doctorid, loginame, loginpwd, name,
		phone, status,
		createtime,
		logintime,caller_nos, transfer_no, org_id,org_name, no_wx
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ls_admin
		where adminid = #{adminid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ls_admin
		where adminid = #{adminid,jdbcType=INTEGER}
	</delete>
	  <insert id="insert" parameterType="com.lss.core.pojo.Admin">
    insert into ls_admin (adminid, clinicid, doctorid, 
      loginame, loginpwd, name, 
      phone, status, createtime, 
      logintime, caller_nos, transfer_no, 
      org_id, org_name, no_wx
      )
    values (#{adminid,jdbcType=INTEGER}, #{clinicid,jdbcType=INTEGER}, #{doctorid,jdbcType=INTEGER}, 
      #{loginame,jdbcType=VARCHAR}, #{loginpwd,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{logintime,jdbcType=TIMESTAMP}, #{callerNos,jdbcType=VARCHAR}, #{transferNo,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{noWx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lss.core.pojo.Admin">
    insert into ls_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        adminid,
      </if>
      <if test="clinicid != null">
        clinicid,
      </if>
      <if test="doctorid != null">
        doctorid,
      </if>
      <if test="loginame != null">
        loginame,
      </if>
      <if test="loginpwd != null">
        loginpwd,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="logintime != null">
        logintime,
      </if>
      <if test="callerNos != null">
        caller_nos,
      </if>
      <if test="transferNo != null">
        transfer_no,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="noWx != null">
        no_wx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="clinicid != null">
        #{clinicid,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="loginame != null">
        #{loginame,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="callerNos != null">
        #{callerNos,jdbcType=VARCHAR},
      </if>
      <if test="transferNo != null">
        #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="noWx != null">
        #{noWx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.Admin">
    update ls_admin
    <set>
      <if test="clinicid != null">
        clinicid = #{clinicid,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        doctorid = #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="loginame != null">
        loginame = #{loginame,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        loginpwd = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logintime != null">
        logintime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="callerNos != null">
        caller_nos = #{callerNos,jdbcType=VARCHAR},
      </if>
      <if test="transferNo != null">
        transfer_no = #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="noWx != null">
        no_wx = #{noWx,jdbcType=VARCHAR},
      </if>
      <if test="microUserId != null">
        micro_userid = #{microUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where adminid = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.Admin">
    update ls_admin
    set clinicid = #{clinicid,jdbcType=INTEGER},
      doctorid = #{doctorid,jdbcType=INTEGER},
      loginame = #{loginame,jdbcType=VARCHAR},
      loginpwd = #{loginpwd,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      logintime = #{logintime,jdbcType=TIMESTAMP},
      caller_nos = #{callerNos,jdbcType=VARCHAR},
      transfer_no = #{transferNo,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=INTEGER},
      no_wx = #{noWx,jdbcType=VARCHAR}
    where adminid = #{adminid,jdbcType=INTEGER}
  </update>
	<select id="loginAdmin" resultMap="BaseResultMap"
		parameterType="com.lss.core.vo.admin.params.AdminParams">
		SELECT adminid,clinicid,doctorid,`name`,`status`,phone,ec_userid,micro_userid FROM
		ls_admin WHERE loginame=#{name} AND loginpwd=#{password} AND `status` &gt;= 0
	</select>
	<select id="adminCount" resultType="java.lang.Integer"
		parameterType="com.lss.core.vo.admin.params.AdminParams">
		SELECT COUNT(1) FROM ls_admin WHERE `status` &gt;= 0
		<if test="name != null">
			AND `name`=#{name}
		</if>
		<if test="phone != null">
			AND phone=#{phone}
		</if>
	</select>
	<select id="adminList" resultType="com.lss.core.vo.admin.AdminListVo"
		parameterType="com.lss.core.vo.admin.params.AdminParams">
		SELECT
		a.adminid,a.clinicid,a.loginame,a.`name`,a.phone,a.`status`,a.createtime,a.logintime,b.shortname
		clinicname,a.caller_nos as callerNos,a.transfer_no as transferNo,a.org_id as orgId,a.org_name as orgName ,
		a.no_wx as noWx,a.micro_userid as microUserId
		FROM ls_admin a
		LEFT JOIN ls_clinic b ON
		a.clinicid=b.clinicid WHERE a.`status` &gt;= 0
		<if test="name != null">
			AND a.`name`=#{name}
		</if>
		<if test="phone != null">
			AND a.phone=#{phone}
		</if>
		ORDER BY a.adminid DESC LIMIT #{index},#{limit}
	</select>
	<update id="operate" parameterType="com.lss.core.pojo.Admin">
		UPDATE ls_admin SET
		`status`=#{status} WHERE adminid=#{adminid}
	</update>
	<select id="checkLoginame" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM
		ls_admin WHERE `status` &gt;= 0 AND loginame=#{loginame}
	</select>
	<select id="queryByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM ls_admin WHERE `name`=#{name} AND `status` &gt;= 0 AND adminid IN(SELECT adminid FROM ls_admin_role WHERE roleid=3) LIMIT 1
	</select>
	
	<select id="queryPersonnels" resultType="com.lss.core.vo.admin.PersonnelVo"
		parameterType="com.lss.core.vo.admin.params.PersonParams">
		SELECT adminid,`name` FROM ls_admin WHERE `status`=1 
		<if test="roleid != null and roleid != 1">
			AND adminid IN
			(SELECT adminid FROM ls_admin_role WHERE roleid=#{roleid})
		</if>
		<if test="clinicid != null">
			AND clinicid=#{clinicid}
		</if>
	</select>
	
	<select id="queryPersonnelsList" resultType="com.lss.core.vo.admin.PersonnelVo"
		parameterType="com.lss.core.vo.admin.params.PersonParams">
		SELECT adminid,`name` FROM ls_admin
		<where>
			`status`=1 
			<if test="adminids != null">
				AND adminid IN 
				<foreach collection="adminids" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="adminid != null">
				AND adminid = #{adminid}
			</if>
			<if test="clinicid != null">
				AND clinicid=#{clinicid}
			</if>
			<if test="orgid != null">
				AND org_id=#{orgid}
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT adminid, loginame,  name,
		phone
		FROM ls_admin 
		order by logintime desc
	</select>
	
	<select id="selectByLoginname" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT adminid, loginame,  name,loginpwd,
		phone
		FROM ls_admin 
		where loginame=#{loginame}
	</select>
	
	<select id="selectByOrgId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT adminid from ls_admin a
		JOIN ls_org o on a.org_id=o.id
		<![CDATA[ where o.parent_ids like  CONCAT('%,',#{parentId},',%') or o.id=#{parentId}  ]]>
	</select>
	
	<select id="selectByOrg" resultType="java.lang.Integer" parameterType="com.lss.core.dto.OrgDto">
		SELECT adminid from ls_admin a
		JOIN ls_org o on a.org_id=o.id
		<![CDATA[ where o.id=#{id} or o.id=#{parentId}  ]]>
	</select>
	
	<select id="findAdminList" resultMap="BaseResultMap" parameterType="com.lss.core.vo.admin.params.AdminParams">
		SELECT a.adminid, a.loginame,  a.name
		FROM ls_admin  a
		JOIN ls_admin_role ar  on a.adminid=ar.adminid
		JOIN ls_role r  ON ar.roleid=r.roleid  AND r.roleid=3
		<if test="adminids != null and adminids.size()>0">
			and a.adminid in <foreach collection="adminids" item="aid" open="(" close=")" separator=",">#{aid}</foreach>
		</if>
		<if test="adminName!= null and adminName!='' " >
        		and a.`name` like CONCAT('%',#{adminName,jdbcType=VARCHAR},'%' )
      	</if>
		order by a.createtime desc
		<if test="page!=0 " >
			limit ${index} , ${limit}
		</if>
	</select>
	<select id="findAdminListCount" resultType="java.lang.Integer" parameterType="com.lss.core.vo.admin.params.AdminParams">
		SELECT count(*)
			FROM ls_admin  a
			JOIN ls_admin_role ar  on a.adminid=ar.adminid
			JOIN ls_role r  ON ar.roleid=r.roleid  AND r.roleid=3
		<if test="adminids != null and adminids.size()>0">
			and a.adminid in <foreach collection="adminids" item="aid" open="(" close=")" separator=",">#{aid}</foreach>
		</if>
		<if test="adminName!= null and adminName!='' " >
       		and a.`name` like CONCAT('%',#{adminName,jdbcType=VARCHAR},'%' )
      	</if>
	</select>
	
	<update id="updateByPhone" parameterType="com.lss.core.pojo.Admin">
		update ls_admin
		set ec_userid = #{ecUserId}
		where phone =#{phone}
	</update>
	
	<select id="selectUserIds" resultType="java.lang.String">
		select ec_userid
		from ls_admin 
		where ec_userid is not null
	</select>
	
	<select id="selectAdminIdByUserId" parameterType="java.lang.Integer" resultType="com.lss.core.pojo.Admin">
		select <include refid="Base_Column_List"/>
		from ls_admin 
		where ec_userid = #{userId}
	</select>
	
	<select id="selectAdminIdByMicroUserId" parameterType="java.lang.String" resultType="com.lss.core.pojo.Admin">
		select <include refid="Base_Column_List"/>
		from ls_admin 
		where micro_userid = #{microUserId}
	</select>
</mapper>