<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lss.core.dao.IBaikeDao">
  <resultMap id="BaseResultMap" type="com.lss.core.pojo.Baike">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="clickvolume" jdbcType="INTEGER" property="clickvolume" />
    <result column="small_icon" jdbcType="VARCHAR" property="smallIcon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="lables" jdbcType="VARCHAR" property="lables" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, subtitle, image, type, status, createtime, clickvolume, small_icon, url, content, 
    lables
  </sql>

	<sql id="find_Base_Column_List">
	  id, title, subtitle, image, type, status, createtime, clickvolume, small_icon, url,  
      lables
	</sql>
  
	<resultMap id="FindResultMap"
		type="com.lss.core.dto.BaikeDto" extends="BaseResultMap"></resultMap>
	
	<sql id="findPage_condition">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="id!=null">
					<![CDATA[and id =#{id}]]>
			</if>
			<if test="notStatus!=null">
					<![CDATA[and status !=#{notStatus}]]>
			</if>
			<if test="type != null">
				AND type=#{type}
			</if>
			<if test="status != null">
				AND status=#{status}
			</if>
			<if test="lables!=null and lables!=''">
        		and lables like CONCAT('%',#{lables,jdbcType=VARCHAR},'%' )
      		</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findBaikes" resultMap="FindResultMap"
		parameterType="com.lss.core.dto.FindBaikePage">
		SELECT
		<include refid="find_Base_Column_List" />
		FROM ls_baike
		<include refid="findPage_condition" />
		order by createtime desc 
	</select>
	<!-- 分页查询 -->
	<select id="findBaikePage" resultMap="FindResultMap"
		parameterType="com.lss.core.dto.FindBaikePage">
		SELECT
		<include refid="find_Base_Column_List" />
		FROM ls_baike
		<include refid="findPage_condition" />
		order by createtime desc 
		limit ${index} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findBaikePageCount" resultType="int"
		parameterType="com.lss.core.dto.FindBaikePage">
		select count(*)
		FROM ls_baike
		<include refid="findPage_condition" />
	</select>

  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ls_baike
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ls_baike
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lss.core.pojo.Baike">
    insert into ls_baike (id, title, subtitle, 
      image, type, status, 
      createtime, clickvolume, small_icon, 
      url, lables, content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{clickvolume,jdbcType=INTEGER}, #{smallIcon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{lables,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lss.core.pojo.Baike">
    insert into ls_baike
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="clickvolume != null">
        clickvolume,
      </if>
      <if test="smallIcon != null">
        small_icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="lables != null">
        lables,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="clickvolume != null">
        #{clickvolume,jdbcType=INTEGER},
      </if>
      <if test="smallIcon != null">
        #{smallIcon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="lables != null">
        #{lables,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.Baike">
    update ls_baike
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="clickvolume != null">
        clickvolume = #{clickvolume,jdbcType=INTEGER},
      </if>
      <if test="smallIcon != null">
        small_icon = #{smallIcon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="lables != null">
        lables = #{lables,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lss.core.pojo.Baike">
    update ls_baike
    set title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      clickvolume = #{clickvolume,jdbcType=INTEGER},
      small_icon = #{smallIcon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      lables = #{lables,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.Baike">
    update ls_baike
    set title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      clickvolume = #{clickvolume,jdbcType=INTEGER},
      small_icon = #{smallIcon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      lables = #{lables,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>