<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lss.core.dao.ICallEventDao">
  <resultMap id="BaseResultMap" type="com.lss.core.pojo.CallEvent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="transfer_no" jdbcType="VARCHAR" property="transferNo" />
    <result column="show_no" jdbcType="VARCHAR" property="showNo" />
    <result column="call_info" jdbcType="VARCHAR" property="callInfo" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="emp_no" jdbcType="VARCHAR" property="empNo" />
    <result column="emp_info" jdbcType="VARCHAR" property="empInfo" />
    <result column="cus_id" jdbcType="VARCHAR" property="cusId" />
    <result column="cus_no" jdbcType="VARCHAR" property="cusNo" />
    <result column="cus_info" jdbcType="VARCHAR" property="cusInfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, record_id, type, time, transfer_no, show_no, call_info, emp_id, emp_no, emp_info, 
    cus_id, cus_no, cus_info, create_time, update_date
  </sql>
  
	<resultMap id="FindResultMap"
	type="com.lss.core.dto.CallEventDto" extends="BaseResultMap"></resultMap>
	
	<sql id="findPage_condition">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="id!=null">
				<![CDATA[and id =#{id}]]>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findCallEvents" resultMap="FindResultMap"
		parameterType="com.lss.core.dto.FindCallEventPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM ls_call_event
		<include refid="findPage_condition" />

	</select>
	<!-- 分页查询 -->
	<select id="findCallEventPage" resultMap="FindResultMap"
		parameterType="com.lss.core.dto.FindCallEventPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM ls_call_event
		<include refid="findPage_condition" />

		limit ${index} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findCallEventPageCount" resultType="int"
		parameterType="com.lss.core.dto.FindCallEventPage">
		select count(*)
		FROM ls_call_event
		<include refid="findPage_condition" />
	</select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ls_call_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ls_call_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lss.core.pojo.CallEvent">
    insert into ls_call_event (id, record_id, type, 
      time, transfer_no, show_no, 
      call_info, emp_id, emp_no, 
      emp_info, cus_id, cus_no, 
      cus_info, create_time, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{recordId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{transferNo,jdbcType=VARCHAR}, #{showNo,jdbcType=VARCHAR}, 
      #{callInfo,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{empNo,jdbcType=VARCHAR}, 
      #{empInfo,jdbcType=VARCHAR}, #{cusId,jdbcType=VARCHAR}, #{cusNo,jdbcType=VARCHAR}, 
      #{cusInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lss.core.pojo.CallEvent">
    insert into ls_call_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="transferNo != null">
        transfer_no,
      </if>
      <if test="showNo != null">
        show_no,
      </if>
      <if test="callInfo != null">
        call_info,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="empNo != null">
        emp_no,
      </if>
      <if test="empInfo != null">
        emp_info,
      </if>
      <if test="cusId != null">
        cus_id,
      </if>
      <if test="cusNo != null">
        cus_no,
      </if>
      <if test="cusInfo != null">
        cus_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="transferNo != null">
        #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="showNo != null">
        #{showNo,jdbcType=VARCHAR},
      </if>
      <if test="callInfo != null">
        #{callInfo,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null">
        #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="empInfo != null">
        #{empInfo,jdbcType=VARCHAR},
      </if>
      <if test="cusId != null">
        #{cusId,jdbcType=VARCHAR},
      </if>
      <if test="cusNo != null">
        #{cusNo,jdbcType=VARCHAR},
      </if>
      <if test="cusInfo != null">
        #{cusInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.CallEvent">
    update ls_call_event
    <set>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="transferNo != null">
        transfer_no = #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="showNo != null">
        show_no = #{showNo,jdbcType=VARCHAR},
      </if>
      <if test="callInfo != null">
        call_info = #{callInfo,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null">
        emp_no = #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="empInfo != null">
        emp_info = #{empInfo,jdbcType=VARCHAR},
      </if>
      <if test="cusId != null">
        cus_id = #{cusId,jdbcType=VARCHAR},
      </if>
      <if test="cusNo != null">
        cus_no = #{cusNo,jdbcType=VARCHAR},
      </if>
      <if test="cusInfo != null">
        cus_info = #{cusInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.CallEvent">
    update ls_call_event
    set record_id = #{recordId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      transfer_no = #{transferNo,jdbcType=VARCHAR},
      show_no = #{showNo,jdbcType=VARCHAR},
      call_info = #{callInfo,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      emp_no = #{empNo,jdbcType=VARCHAR},
      emp_info = #{empInfo,jdbcType=VARCHAR},
      cus_id = #{cusId,jdbcType=VARCHAR},
      cus_no = #{cusNo,jdbcType=VARCHAR},
      cus_info = #{cusInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>