<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lss.core.dao.ClinicMapper">
	<resultMap id="BaseResultMap" type="com.lss.core.pojo.Clinic">
		<id column="clinicid" property="clinicid" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="shortname" property="shortname" jdbcType="VARCHAR" />
		<result column="mainproject" property="mainproject" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="principal" property="principal" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="CHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="milieupicture" property="milieupicture"
			jdbcType="VARCHAR" />
		<result column="devicepicture" property="devicepicture"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		clinicid, name, image, shortname, mainproject, telephone,
		principal, phone,
		province,
		city, area, address, type, description,
		status, createtime, milieupicture,
		devicepicture
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ls_clinic
		where clinicid = #{clinicid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ls_clinic
		where clinicid = #{clinicid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lss.core.pojo.Clinic">
		insert into ls_clinic
		(clinicid, name, image,
		shortname, mainproject, telephone,
		principal,
		phone, province,
		city, area, address,
		type, description, status,
		createtime, milieupicture, devicepicture)
		values
		(#{clinicid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{image,jdbcType=VARCHAR},
		#{shortname,jdbcType=VARCHAR},
		#{mainproject,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
		#{principal,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{createtime,jdbcType=TIMESTAMP},
		#{milieupicture,jdbcType=VARCHAR}, #{devicepicture,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.lss.core.pojo.Clinic">
		insert into ls_clinic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clinicid != null">
				clinicid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="image != null">
				image,
			</if>
			<if test="shortname != null">
				shortname,
			</if>
			<if test="mainproject != null">
				mainproject,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="principal != null">
				principal,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="milieupicture != null">
				milieupicture,
			</if>
			<if test="devicepicture != null">
				devicepicture,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clinicid != null">
				#{clinicid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				#{image,jdbcType=VARCHAR},
			</if>
			<if test="shortname != null">
				#{shortname,jdbcType=VARCHAR},
			</if>
			<if test="mainproject != null">
				#{mainproject,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="principal != null">
				#{principal,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=CHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="milieupicture != null">
				#{milieupicture,jdbcType=VARCHAR},
			</if>
			<if test="devicepicture != null">
				#{devicepicture,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.Clinic">
		update ls_clinic
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=VARCHAR},
			</if>
			<if test="shortname != null">
				shortname = #{shortname,jdbcType=VARCHAR},
			</if>
			<if test="mainproject != null">
				mainproject = #{mainproject,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="principal != null">
				principal = #{principal,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=CHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				area = #{area,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="milieupicture != null">
				milieupicture = #{milieupicture,jdbcType=VARCHAR},
			</if>
			<if test="devicepicture != null">
				devicepicture = #{devicepicture,jdbcType=VARCHAR},
			</if>
		</set>
		where clinicid = #{clinicid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.Clinic">
		update ls_clinic
		set name = #{name,jdbcType=VARCHAR},
		image = #{image,jdbcType=VARCHAR},
		shortname = #{shortname,jdbcType=VARCHAR},
		mainproject =
		#{mainproject,jdbcType=VARCHAR},
		telephone =
		#{telephone,jdbcType=VARCHAR},
		principal =
		#{principal,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=CHAR},
		province
		= #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		area =
		#{area,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		type =
		#{type,jdbcType=INTEGER},
		description =
		#{description,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		milieupicture =
		#{milieupicture,jdbcType=VARCHAR},
		devicepicture =
		#{devicepicture,jdbcType=VARCHAR}
		where clinicid =
		#{clinicid,jdbcType=INTEGER}
	</update>
	<select id="clinicCount" resultType="java.lang.Integer"
		parameterType="com.lss.core.vo.admin.params.ClinicParams">
		SELECT COUNT(1) FROM ls_clinic WHERE `status` &gt;= 0
		<if test="name != null">
			AND shortname LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="type != null">
			AND type=#{type}
		</if>
		<if test="province != null">
			AND province=#{province}
		</if>
		<if test="city != null">
			AND city=#{city}
		</if>
		<if test="area != null">
			AND area=#{area}
		</if>
		<if test="status != null">
			AND `status`=#{status}
		</if>
	</select>
	<select id="clinicList" resultMap="BaseResultMap"
		parameterType="com.lss.core.vo.admin.params.ClinicParams">
		SELECT
		<include refid="Base_Column_List" />
		FROM ls_clinic WHERE `status` &gt;= 0
		<if test="name != null">
			AND shortname LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="type != null">
			AND type=#{type}
		</if>
		<if test="province != null">
			AND province=#{province}
		</if>
		<if test="city != null">
			AND city=#{city}
		</if>
		<if test="area != null">
			AND area=#{area}
		</if>
		<if test="status != null">
			AND `status`=#{status}
		</if>
		ORDER BY clinicid DESC LIMIT #{index},#{limit}
	</select>
	<select id="clinicMenuList" resultType="com.lss.core.vo.admin.clinicMenu">
		SELECT clinicid,shortname
		FROM ls_clinic WHERE `status`=1
	</select>
	<select id="homeClinicList" resultMap="BaseResultMap"
		parameterType="com.lss.core.pojo.Clinic">
		SELECT
		clinicid,`name`,image,shortname,mainproject,telephone,province,city,area,address,
		description FROM ls_clinic WHERE `status`=1
		<if test="area != null">
			AND area=#{area}
		</if>
	</select>
	<select id="queryByID" resultType="com.lss.core.vo.pc.ClinicVo" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ls_clinic
		where clinicid = #{clinicid,jdbcType=INTEGER}
	</select>
</mapper>