<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lss.core.dao.DoctorLoginMapper" >
  <resultMap id="BaseResultMap" type="com.lss.core.pojo.DoctorLogin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="doctorid" property="doctorid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, doctorid, type, openid, unionid, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ls_doctor_login
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ls_doctor_login
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lss.core.pojo.DoctorLogin" >
    insert into ls_doctor_login (id, doctorid, type, 
      openid, unionid, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{doctorid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{openid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lss.core.pojo.DoctorLogin" >
    insert into ls_doctor_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="doctorid != null" >
        doctorid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null" >
        #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.DoctorLogin" >
    update ls_doctor_login
    <set >
      <if test="doctorid != null" >
        doctorid = #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.DoctorLogin" >
    update ls_doctor_login
    set doctorid = #{doctorid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT * FROM ls_doctor_login WHERE openid=#{openid}
  </select>
  <select id="queryByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	SELECT * FROM ls_doctor_login WHERE doctorid=#{doctorid}
  </select>
</mapper>