<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lss.core.dao.IOrgDao">
  <resultMap id="BaseResultMap" type="com.lss.core.pojo.Org">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="index_no" jdbcType="INTEGER" property="indexNo" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_name, parent_id, parent_ids, grade, remark, index_no, create_date, update_date
  </sql>

	<resultMap id="FindResultMap" type="com.lss.core.dto.OrgDto"
		extends="BaseResultMap"></resultMap>
	<sql id="findPage_condition">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="id!=null">
					<![CDATA[and id =#{id}]]>
			</if>
			<if test="parentId!=null">
					<![CDATA[and parent_ids like  CONCAT('%,',#{parentId},',%') ]]>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findOrgs" resultMap="FindResultMap"
		parameterType="com.lss.core.dto.FindOrgPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM ls_org
		<include refid="findPage_condition" />
		order by id 
	</select>
	<!-- 分页查询 -->
	<select id="findOrgPage" resultMap="FindResultMap"
		parameterType="com.lss.core.dto.FindOrgPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM ls_org
		<include refid="findPage_condition" />

		limit ${index} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findOrgPageCount" resultType="int"
		parameterType="com.lss.core.dto.FindOrgPage">
		select count(*)
		FROM ls_org
		<include refid="findPage_condition" />
	</select>

  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ls_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ls_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lss.core.pojo.Org" useGeneratedKeys="true" keyProperty="id">
    insert into ls_org (id, org_name, parent_id, 
      parent_ids, grade, remark, 
      index_no, create_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{parentIds,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{indexNo,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lss.core.pojo.Org" useGeneratedKeys="true" keyProperty="id">
    insert into ls_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentIds != null">
        parent_ids,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="indexNo != null">
        index_no,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="indexNo != null">
        #{indexNo,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.Org">
    update ls_org
    <set>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentIds != null">
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="indexNo != null">
        index_no = #{indexNo,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.Org">
    update ls_org
    set org_name = #{orgName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      parent_ids = #{parentIds,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      index_no = #{indexNo,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>