<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lss.core.dao.PicturesMapper">
	<resultMap id="BaseResultMap" type="com.lss.core.pojo.Pictures">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="image" property="image" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pid, image
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ls_pictures
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ls_pictures
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lss.core.pojo.Pictures">
		insert into ls_pictures (id,
		pid, image
		)
		values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
		#{image,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.lss.core.pojo.Pictures">
		insert into ls_pictures
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="image != null">
				image,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="image != null">
				#{image,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.Pictures">
		update ls_pictures
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.Pictures">
		update ls_pictures
		set pid = #{pid,jdbcType=INTEGER},
		image = #{image,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ls_pictures
		where pid = #{pid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPid" parameterType="java.lang.Integer">
		delete from
		ls_pictures
		where pid = #{pid,jdbcType=INTEGER}
	</delete>
</mapper>