<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lss.core.dao.ProductMapper">
	<resultMap id="BaseResultMap" type="com.lss.core.pojo.Product">
		<id column="pid" property="pid" jdbcType="INTEGER" />
		<result column="classid" property="classid" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="costprice" property="costprice" jdbcType="DOUBLE" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="details" property="details" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		pid, classid, title, des, image, costprice, price, details,
		status,
		createtime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ls_product
		where pid = #{pid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ls_product
		where pid = #{pid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lss.core.pojo.Product">
		insert into ls_product (pid,
		classid, title,
		des, image, costprice,
		price, details, status,
		createtime)
		values (#{pid,jdbcType=INTEGER},
		#{classid,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{des,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR},
		#{costprice,jdbcType=DOUBLE},
		#{price,jdbcType=DOUBLE},
		#{details,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{createtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.lss.core.pojo.Product"
		useGeneratedKeys="true" keyProperty="pid">
		insert into ls_product
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">
				pid,
			</if>
			<if test="classid != null">
				classid,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="des != null">
				des,
			</if>
			<if test="image != null">
				image,
			</if>
			<if test="costprice != null">
				costprice,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="details != null">
				details,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="classid != null">
				#{classid,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				#{des,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				#{image,jdbcType=VARCHAR},
			</if>
			<if test="costprice != null">
				#{costprice,jdbcType=DOUBLE},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="details != null">
				#{details,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lss.core.pojo.Product">
		update ls_product
		<set>
			<if test="classid != null">
				classid = #{classid,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=VARCHAR},
			</if>
			<if test="costprice != null">
				costprice = #{costprice,jdbcType=DOUBLE},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="details != null">
				details = #{details,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where pid = #{pid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lss.core.pojo.Product">
		update ls_product
		set classid = #{classid,jdbcType=INTEGER},
		title =
		#{title,jdbcType=VARCHAR},
		des = #{des,jdbcType=VARCHAR},
		image =
		#{image,jdbcType=VARCHAR},
		costprice = #{costprice,jdbcType=DOUBLE},
		price = #{price,jdbcType=DOUBLE},
		details =
		#{details,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		createtime = #{createtime,jdbcType=TIMESTAMP}
		where pid =
		#{pid,jdbcType=INTEGER}
	</update>
	<select id="adminCount" resultType="java.lang.Integer"
		parameterType="com.lss.core.vo.admin.params.ProductParams">
		SELECT COUNT(1) FROM ls_product WHERE `status` &gt;= 0
		<if test="classid != null">
			AND classid=#{classid}
		</if>
		<if test="title != null">
			AND title LIKE CONCAT('%',#{title},'%')
		</if>
	</select>
	<select id="adminList" resultType="com.lss.core.vo.admin.ProductVo"
		parameterType="com.lss.core.vo.admin.params.ProductParams">
		SELECT
		a.pid,a.title,a.image,a.costprice,a.price,a.`status`,a.createtime,b.tagname
		classname FROM ls_product a
		LEFT JOIN ls_worktag b ON a.classid=b.tagid
		WHERE a.`status` &gt;= 0
		<if test="classid != null">
			AND a.classid=#{classid}
		</if>
		<if test="title != null">
			AND a.title LIKE CONCAT('%',#{title},'%')
		</if>
		LIMIT #{index},#{limit}
	</select>
	<select id="getListByClassid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT pid,classid,title,des,image,costprice,price FROM ls_product WHERE `status` &gt;= 0 AND classid=#{classid}
	</select>
</mapper>